
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 100px;
    height: 100px;
}
.navbar {
    background-color: #E6E6E6;
}
.navbar .logo {
    display: flex;
    margin: 0 10px;
    align-items: center;
}
.navigation :not(.navbutton):hover{
    border-bottom: solid black;
}
.navbutton {
    width: 105px;
    height: 33px;
    color: white;
    background: #68AEFF;
    padding: 6px 40px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
}
.navbutton:hover {
    background-color: #127ee4ad;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}