
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 100px;
    height: 100px;
}

/* Start Navbar */
.navbar {
    background-color: #E6E6E6;
}
.navbar h1 {
    font-size: 24;
    font-weight: 900;
    margin: 0 20px;
}
nav.navbar .navigation a:not(:last-child) {
    color: black;
    margin: 0 20px;
    font-size: 18px;
}
.navbar .logo {
    display: flex;
    margin: 0 10px;
    align-items: center;
}
.navigation :not(.navbutton):hover{
    border-bottom: solid black;
}
.navbutton {
    width: 105px;
    height: 33px;
    color: white;
    background: #68AEFF;
    padding: 6px 40px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    margin-right: 40px;
}
.navbutton:hover {
    background-color: #127ee4ad;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End of Navbar */

/* Start Beranda */
.beranda1 {
    width: 100%;
    height: 649px;
    background-image: linear-gradient(to right, rgba(104,174,255,1), rgba(196,196,196,0)), url(GAMBAR/Cover\ jamur.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.beranda1 img {
    height: 382px;
    width: 468px;
    border-radius: 20px 0;
    border: solid black;
}
.beranda1 .teks {
    display: flex;
    flex-direction: column;
}
.beranda1 a {
    padding: 6px 40px;
    border-radius: 15px;
    color: white;
    background: #127FE4;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    margin: auto;
}
.beranda1 a:hover {
    background-color: #127ee4ad;
}
